@font-face {
  font-family: raleway;
  src: url(../font/raleway-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(../font/raleway-extra-bold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(../font/raleway-semi-bold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(../font/raleway-medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(../font/raleway-bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url(../font/montserrat-light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url(../font/montserrat-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
}

.header {
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url("../img/photo.jpg");
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("../img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.header-wrp {
  padding: 40px 0 285px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
}

.logo:hover {
  color: #c7b299;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav {
  margin: 0 40px;
}

.menu-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-nav_list_item {
  list-style-type: none;
  margin: auto 15px;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

.menu-nav_list_item:hover {
  color: #c7b299;
}

.menu-basket {
  background-color: transparent;
  border: none;
  margin: 0 15px;
}

.menu-form {
  margin: 0 0 0 13px;
}

.menu-search {
  display: none;
  background-color: transparent;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel-btn1 {
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  margin: 40px;
  position: relative;
}

.carousel-btn1::after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid white;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carousel-btn1::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid white;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carousel-btn1:hover::before, .carousel-btn1:hover::after {
  border: 2px solid #c7b299;
}

.carousel-detail {
  text-align: center;
  max-width: 50%;
}

.carousel-detail_uptitle {
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  margin: 0 0 15px 0;
}

.carousel-detail_title {
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  margin: 0 0 20px 0;
}

.carousel-detail_text {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  margin: 0 0 50px 0;
  line-height: 24px;
}

.carousel-detail_btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 170px;
  padding: 15px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
}

.carousel-detail_btn:hover {
  color: #998675;
  background-color: white;
}

.carousel-btn2 {
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  margin: 40px;
  position: relative;
}

.carousel-btn2::after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid white;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carousel-btn2::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid white;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carousel-btn2:hover::before, .carousel-btn2:hover::after {
  border: 2px solid #c7b299;
}

.pagination {
  width: 100%;
  height: 20px;
  margin: 320px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-item {
  display: block;
  width: 9px;
  height: 9px;
  margin: 0 8px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid transparent;
}

.pagination-item:hover {
  background-color: transparent;
  border: 2px solid #ccc;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product {
  padding: 80px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 266px;
}

.product-item_img {
  margin: 0;
  fill: #555555;
}

.product-item-title {
  display: block;
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #555555;
  width: 100%;
  margin: 30px 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.product-item_text {
  color: #8c8c8c;
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin: 0 0 30px 0;
  line-height: 24px;
}

.product-item::after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.product-item:hover .product-item_img {
  fill: #c7b299;
}

.product-item:hover .product-item-title {
  color: #c7b299;
}

.product-item:hover:after {
  background-color: #c7b299;
}

.screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 0;
  background-color: #fbfaf8;
}

.screenshots-title {
  font-family: "ralevay", "arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
}

.screenshots-text {
  font-family: "montserrat", "arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
  width: 100%;
  margin: 0 auto 40px;
  line-height: 28px;
}

.screenshots_img {
  background-image: url(../img/center.jpg), url(../img/left.jpg), url(../img/right.jpg);
  background-repeat: no-repeat;
  background-position: center, bottom left, bottom right;
  height: 482px;
  background-color: #fff;
}

.purchase {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  height: 150px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase_wrp_title {
  text-align: left;
  font-family: "ralevay", "arial", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
}

.purchase_wrp_text {
  font-family: "montserrat", "arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin: 0;
  padding: 0;
}

.purchase_btn {
  font-family: "ralevay", "arial", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 5px;
  outline: 0;
  border: none;
  padding: 20px;
}

.purchase_btn:hover {
  color: #998675;
  background-color: white;
}

.waxom {
  color: #c7b299;
}

.projects {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects_title {
  font-family: "ralevay", "arial", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 auto 35px auto;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects_text {
  font-family: "montserrat", "arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects_wrp {
  width: 100%;
  margin: 0 auto 40px;
  text-align: center;
}

.projects_wrp_btn {
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-color: #fff;
  font-family: "montserrat", "arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
}

.projects_wrp_btn:hover {
  color: #fff;
  background-color: #998675;
}

.projects_box {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.projects_box_container {
  background-color: #fbfaf8;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  position: relative;
  margin-top: -35px;
  padding: 30px;
}

.projects_box_container::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 10px;
}

.projects_box_title {
  font-family: "ralevay", "arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin: 0;
}

.projects_box_tags {
  font-family: "montserrat", "arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  display: block;
  margin: 10px 0 0;
}

.projects_box:hover .project_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.projects_box:hover .projects_box_container {
  background-color: #362f2d;
}

.projects_box:hover .projects_box_container::before {
  border-bottom: 15px solid #362f2d;
}

.projects_box:hover .projects_box_title {
  color: #fff;
}

.projects_box:hover .projects_box_tags {
  color: #c7b299;
}

.projects_box .link,
.projects_box .search {
  display: none;
  width: 26px;
  height: 26px;
  border: none;
  fill: #ffffff;
  position: absolute;
}

.projects_box .link {
  top: 40%;
  left: 40%;
}

.projects_box .search {
  top: 40%;
  left: 50%;
}

.projects_box:hover .link,
.projects_box:hover .search {
  display: block;
}

.projects_box:hover .link:hover,
.projects_box:hover .search:hover {
  fill: #c7b299;
}

.projects_btn {
  font-family: "ralevay", "arial", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 5px;
  outline: 0;
  border: none;
  padding: 20px;
  margin: 0 500px 0;
}

.projects_btn:hover {
  color: #998675;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */